# Environment variables
.env

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/dist
/build

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.code-workspace

# TypeScript build files
*.tsbuildinfo

# Other
.idea/
